*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

/* Utilities */

.wrapper {
    max-width: 1366px;
    margin-inline: auto;
    padding: 0 24px;
}

/* header */

header {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
}

/* Main */

/* Block Operations */

.block-operations {
    text-align: center;
}

#show-dialog-btn {
    padding: 0.8rem;
    border: 2px solid black;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    background-color: black;
    color: white;
    font-weight: 600;
}

#show-dialog-btn:hover {
    color: black;
    background-color: white;
    transform: scale(1.05);
}

.add-book-dialog {
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    border-radius: 16px;
    box-shadow: silver 5px 4px 5px 4px;
}

.add-book-fieldset {
    border: none;
    text-align: start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.add-book-fieldset label {
    margin-right: 16px;
}

.add-book-fieldset input {
    padding-inline: 4px;
}


/* Block Books */
.block-books {
    padding: 50px 0;
}

.block-books h2 {
    text-align: center;
    margin-bottom: 24px;
}

.book-wrap {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
}

.book-card {
    padding: 2rem 0.6rem;
    border-radius: 6px;
    box-shadow: silver 5px 4px 5px 4px;
    transition: transform 0.3s ease-in-out;
}

.book-card:hover {
    transform: scale(1.02);
}

.book-title {
    margin-bottom: 8px;
}

.book-author {
    margin-bottom: 8px;
}

.book-pages {
    display: block;
    margin-bottom: 8px;
}


/* Footer */
.footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 24px;
    position: fixed;
    bottom: 0;
    width: 100%;
}